img{
    margin-top: 50px;
    width: 80px;
}

#mapage{
    background-image: url("fondhs.jpg");
    height: 900px;
    color: beige;
}

#total >  div{

    display: inline-block;
    margin-left: 5%;
    width: 200px;

}

#total1 > div{
    display: inline-block;
    font-size: 50px;
    margin-left: 30%;

}

#tem{
    font-size: 50px;
}

#temps{
    margin-right: 100px;
    position: absolute;
    margin-top: 20%;
    color: aliceblue;
    font-size: 25px;
    background-color: darkblue;
    display: inline-block;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-shadow: 2px 2px cyan;
}

#resulta{
    margin-top: 10%;
    position: absolute;
    left: 0;
}
#ok{
    position: absolute;
    margin-top: 10%;
    left: 48%;
    border-radius: 360px;
}
#totall{
    display: none;
    color: beige;
}

#reset{
    border-radius: 360px;
    margin-left: 48%;
    margin-top: 50px;
}




@media only screen and (max-width : 840px) {

    h1 {
        display: flex;
        justify-content: center;
        font-size: 16px;

    }

}